NODE_ENV=development

HOST=http://localhost:3333

PORT=3333

# DATABASE type, default: postgres
DATABASE_TYPE=postgres

# DATABASE host
DATABASE_HOST=

# DATABASE port, default: 5432
DATABASE_PORT=5432

# DATABASE name
DATABASE_NAME=

# DATABASE username
DATABASE_USERNAME=

# DATABASE password
DATABASE_PASSWORD=


# Cloudinary name
CLOUDINARY_NAME=

# Cloudinary key
CLOUDINARY_KEY=

# Cloudinary secret
CLOUDINARY_SECRET=
